

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
            url('../src/img/alunos.png') bottom right 15% no-repeat #46B6AC;
}
.link {
    background-color: transparent;
    border: 0;
    color: #00f;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    text-decoration: underline;
}